*{
    background-color: pink;
    margin: 0;
    padding: 0;
}

#main{
    text-align: center;
    padding-top: 20px;
    min-height: 70vh;
}

#main-img{
    width: 20%;
    height: 20%;
    padding-top:20px;
}

.nav-link{
    display: inline;
}

#navbar{
    list-style-type: none;
    text-align: right;
    background-color: darkgreen;
    padding: 5px;
    border-bottom:  5px solid navy;
}

#contact{
    background-color: blueviolet;  
    text-align: center;
    padding-top:10px;
    padding-bottom: 20px;
}

#contact-button{
    margin:5px;
    padding: 5px;
    background-color: tan;
    border-radius: 3%;
}

footer{
    background-color: crimson;
    text-align: center;
    color: white;
    position:absolute;
    bottom:0;
    width:100%
}

p{
    text-align: center;
    padding-bottom: 10px;
}